
body {
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  display: flex;
  font-family: 'Sora', sans-serif;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
}

.header {
  margin-top: 100px;
  text-align: center;
}

.sidebar {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  gap: 20px;
}

.sidebar a {
  color: black;
  text-decoration: none;
}

.sidebar-link {
  font-family: "SN Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar a:hover {
  color: rgb(130, 130, 130);
  text-decoration: underline;
}

.statement {
    font-size: 11px;
    font-weight: 550;
    color: rgb(100, 100, 100);
}

.sidebar a.active-link {
    color: rgb(0, 100, 255);
    text-decoration: underline;
}

:root {
  --bg-color: white;
  --text-color: black;
  --nav-color: black;
}

.dark-mode {
  --bg-color: black;
  --text-color: white;
  --nav-color: white;
  --sidebar-bg: #121212;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.sidebar {
  background-color: var(--sidebar-bg);
}

.sidebar a {
  color: var(--nav-color);
}

.switch-icon {
  font-size: 80px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
  margin-top: 30px;
}

.switch-icon:hover {
  transform: scale(1.15);
}

.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.switch-container small {
  font-size: 11px;
  color: gray;
  margin-top: 6px;
}

.welcome-msg {
  font-size: 45px;
}

.switch-label {
  font-weight: 550;
}
